<%- include('layout/header') %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<!-- Add a wrapper to center the entire content -->
<div class="container-fluid d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="container">
        <div class="row my-4">
            <div class="col-lg-10"> <!-- You can adjust the column size if needed -->
                <div class="table-responsive">
                    <table class="table table-striped mx-auto text-center" style="border-spacing: 10px; table-layout: fixed;">
                        <thead>
                            <tr class="table-dark">
                                <th class="px-4" style="width: 20%;">ID</th>
                                <th class="px-4" style="width: 20%;">Image</th>
                                <th class="px-4" style="width: 20%;">E-mail</th>
                                <th class="px-4" style="width: 20%;">Phone</th>
                                <th class="px-4" style="width: 20%;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="px-4">1</td>
                                <td class="px-4"><img src="https://images.app.goo.gl/veu7L81Ppp7XxHYo8" alt="User Image" class="img-fluid" style="max-width: 100px;"></td>
                                <td class="px-4">karki349@rku.ac.in</td>
                                <td class="px-4">8708239656</td>
                                <td class="px-4">
                                    <a href="#" class="text-success">
                                        <i class="fas fa-edit fa-lg mx-1">

                                        </i>
                                    </a>
                                    <a href="#" class="text-danger">
                                        <i class="fas fa-trash fa-lg mx-1">

                                        </i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('layout/footer') %>
